body {
  /* background-color: #001f3f; */
  background-color: red;
  color: white;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2 {
  color: cyan;
}

button {
  padding: 10px 20px;
  background-color: cyan;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

button:disabled {
  background-color: grey;
}
